body
  color: $text-color
  font-size: 18px
  +regular

* 
  box-sizing: border-box

h1, h2, h3, h4, ul, li
  margin: 0
  padding: 0

img
  width: 100%

.button
  padding: 5px 15px
  font-size: 15px
  +semibold
  color: $text-white-color
  background-color: $main-color
  border: none
  outline: none
  text-transform: uppercase
  cursor: pointer
  text-decoration: none
  &:hover
    background-color: $main-color-darken

.input
  padding: 0 20px
  line-height: 50px
  border: 1px solid #e8e8e8
  color: #000000
  background-color: #ffffff
  outline: none
  &:focus
    border: 1px solid $main-color
  &::placeholder
    color: $text-color-light
    text-align: center
    font-size: 13px
    +light

  &.invalid
    margin-bottom: 0
    border: 1px solid #e13e42
div.invalid
  display: block
  margin: 5px auto
  line-height: 15px
  +bold
  font-size: 13px
  color: #e13e42

.form
  display: flex
  flex-direction: column
  background-color: #ffffff
  &__title
    display: block
    align-self: center
    margin-top: 36px
    margin-bottom: 30px
    max-width: 234px
    font-size: 18px
    +regular
    color: $text-color
    text-align: center
    & strong
      +bold
  &__button
    margin: 5px 55px 43px 55px
    font-size: 13px
    +light
    color: #ffffff
  &__input
    display: block
    margin: 0 55px 15px 55px

.section
  padding: 100px 0 100px 0

.container 
  max-width: 1200px
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto

.call-me
  display: flex
  flex-direction: column
  align-items: flex-end
  min-width: 176px
  list-style: none
  &__text
    display: inline-block
    font-size: 17px
    +bold
    color: $text-color
    text-decoration: none
  &__button
    color: $main-color
    font-size: 14px
    +regular
    text-decoration: none
    &:hover
      &:after
        background-color: $main-color-saturated
    &:after
      content: ''
      display: block
      margin-top: -2px
      height: 1px
      background-color: $main-color

.upTop
  position: fixed
  right: 20px
  bottom: 10px
  padding: 10px
  width: 50px
  height: 50px
  background-color: $main-color
  min-width: 40px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25)
  cursor: pointer
  &:hover
    border: 1px solid #ffffff
  .img
    width: 20px
    height: 20px

.thank-you
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 400px
  height: 300px
  margin: 100px auto
  border: 1px solid #c8c8c8
  font-size: 24px
  +bold
  text-align: center
  .button
    margin-top: 30px
    padding: 15px 25px
    +light
    color: #ffffff

.slick-slide
  margin: 0 10px

.slick-list
  margin: 0 -30px
  
.prev, .next
  height: 26px
  width: 26px
  outline: none
  opacity: 0.5
  &:hover
    opacity: 0.3

.slider
  img 
    margin: 0
    padding: 0
    display: block
    outline: none
    height: 100%

.decor
  &:before
    position: absolute
    left: 50%
    margin-top: 50px
    transform: translateX(-50%)
    width: 31px
    height: 2px
    background-color: $main-color
    content: ''

  @media(max-width: 768px)
    .section
      padding: 50px 0 50px 0
    
    .thank-you
      width: 90%


    